body {
  background-color: #fffbc;
  color: #1b2232;
}

.card {
  border-radius: 10px;
}

table {
  margin-top: 20px;
}

.meal-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

th, td {
  vertical-align: middle;
  text-align: center;
}

.table thead {
  background-color: #4a78a6;
  color: #fff;
}

.table tbody tr:nth-child(even) {
  background-color: #A6D1E6;
}

button {
  background-color: #4a78a6;
  border-color: #4a78a6;
}

button:hover {
  background-color: #36687f;
  border-color: #36687f;
}

/* Make it responsive */
@media (max-width: 768px) {
  .meal-img {
    width: 30px;
    height: 30px;
  }

  table {
    font-size: 14px;
  }

  button {
    font-size: 16px;
  }
}
