body{
  background-color: #A6D1E6;/* Change to your actual background image */
  background-size: cover;  /* Cover the entire section */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repetition */
}
.custom-bg h3 {
    font-size: 2.5rem; /* Bigger heading */
    font-weight: bold;
    color: #4a78a6 ; /* Make the heading white */
}
.mission-vision {
background-color: #A6D1E6 ;/* Change to your actual background image */


}

.custom-bg p {
  text-align: center;
    font-size: 1.2rem; /* Bigger paragraph text */
    color: #4a78a6 !important; /* Ensure the text is white */
    font-weight: 500;
    line-height: 1.6; /* Improve readability */
}
.mission-vision h3 {
  text-align: center;
    font-size: 2.5rem; /* Bigger heading */
    font-weight: bold;
    color: #4a78a6 ; /* White heading */
}

.mission-vision p {
    font-size: 1.2rem; /* Bigger paragraph text */
    color: #4a78a6  !important; /* Ensure the text is white */
    font-weight: 500;
    line-height: 1.6; /* Improve readability */
}
